:root {
    --primary: rgb(78, 155, 233);
    --border: rgb(235, 235, 235);
    --hint: rgb(96, 99, 103);
}

/* User Sign START */

.signup-container {
    text-align: center;
    width: 542px;
    margin: auto;
}

.signup-container h3 {
    margin: 19px 0px 8px;
    text-align: left;
    font-size: 14px;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.signup-input {
    display: flex;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}

#signup-email, #signup-pwd, #signup-name, #signup-gender, #signup-nickName, #signup-email-check {
    height: 29px;
    border: none;
    outline: none;
    width: 100%;
}

.signup-pwd-lock {
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: 5px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-size: 125px 75px;
    cursor: pointer;
}

.signup-input select {
    width: 85px;
    height: 25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid var(--hint);
}

#signup-gender {
    background-color: white;
}

.signup-email-choice {
    display: flex;
}

.signup-email-choice span {
    margin-top: 20px;
    color: var(--hint);
    font-size: 13px;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.signup-btn {
    margin-top: 13px;
    margin-bottom: 13px;
    width: 542px;
    height: 48px;
    font-size: 18px;
    background: var(--primary);
    font-weight: bold;
    color: white;
    border: solid 1px var(--primary);
}

/* User Sign END */