<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h3>나는 팔로잉 시스템이야!</h3>

    <form role="form" th:action="@{/follow/member}" method="post">
        <div>
            <label th:for="email">팔로잉 할 id를 입력하세요.</label>
            <input
                    type="text"
                    th:name="id"
                    placeholder="이메일 입력하세요"
            />
        </div>
        <button type="submit">팔로우</button>
    </form>
</div>
</body>
</html>