<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="user-header-container">
      <div class="user-header-wrap fixed-wrap">
        <ul>
          <li><i class="far fa-bell"></i></li>
        </ul>
        <ul>
          <li><span>로그인</span></li>
          <li><span class="sparator"></span></li>
          <li><span>회원 가입</span></li>
        </ul>
      </div>
    </div>
    <div class="header-container">
      <div class="header-wrap fixed-wrap">
        <img src="/assets/img/logo.png" width="50px" height="50px"/>
        <form class="search-form">
          <div>
          <input type="text" class="search-input"/>
          <i class="fas fa-search search-submit"></i>
          </div>
          <div class="popular-keyword">
            <ul>
              <li>추천 검색어</li>
              <li>서피스 랩탑4</li>
              <li>아이 패드</li>
              <li>에어팟</li>
              <li>애플 워치</li>
            </ul>
          </div>
        </form>
        <i class="fas fa-bars fa-lg menu-toggle"></i>
      </div>
    </div>
  </header>
</body>
</html>