<div th:fragment="body">
    <div class="fixed-container">
        <ul class="category-map-container">
            <li th:each="iCategory : ${request.getCategory().getAllParentCategory()}">
                <a th:href="@{'/list/' + ${iCategory.getCode()}}" th:text="${iCategory.getName()}">카테고리 명</a>
                <i class="fas fa-chevron-right" th:if="${iCategory != request.getCategory()}"></i>
            </li>
        </ul>
        <ul th:if="${!request.getCategory().isLeafCategory()}" class="children-category-container">
            <li th:each="iCategory : ${request.getCategory().getChildrenCategory()}">
                <a th:href="@{'/list/' + ${iCategory.getCode()}}" th:text="${iCategory.getName()}">카테고리 명</a>
            </li>
        </ul>
    </div>

    <style>
        .category-map-container {
            margin: 1rem 0;
            list-style: none;
        }

        .category-map-container li > i {
            margin: 0 .5rem;
            font-weight: bolder;
        }

        .category-map-container a:hover {
            color: var(--primary);
        }

        .category-map-container li {
            display: inline-block;
            color: var(--hint);
            font-size: small;
        }

        .children-category-container {
            width: 100%;
            display: grid;
            margin-left: -1rem;
        }

        .children-category-container li {
            list-style: none;
            display: inline-block;
            margin-top: -1px;
            margin-left: -1px;
        }

        @media (max-width: 1199px) {
            .children-category-container {
                grid-template-columns: repeat(2, 50%);
                width: calc(100% + 2rem);
            }
            .children-category-container a {
                padding: 0.75rem 20px;
            }
        }
        @media (min-width: 1200px) {
            .children-category-container {
                grid-template-columns: repeat(6, 200px);
            }
            .children-category-container a {
                padding: 1rem 20px;
            }
        }

        .children-category-container a {
            border: 1px solid var(--border);
            display: block;
            font-size: small;
        }

        .children-category-container a:hover {
            color: white;
            background: var(--primary);
        }
    </style>
</div>




