<div th:fragment="body" class="fixed-container">
    <ul class="category-map-container">
        <li th:each="iCategory : ${request.getCategory().getAllParentCategory()}">
            <a th:href="@{'/list/' + ${iCategory.getCode()}}" th:text="${iCategory.getName()}">카테고리 명</a>
            <i class="fas fa-chevron-right" th:if="${iCategory != request.getCategory()}"></i>
        </li>
    </ul>
    <ul th:if="${!request.getCategory().isLeafCategory()}" class="children-category-container">
        <li th:each="iCategory : ${request.getCategory().getChildrenCategory()}">
            <a th:href="@{'/list/' + ${iCategory.getCode()}}" th:text="${iCategory.getName()}">카테고리 명</a>
        </li>
    </ul>

    <a href="/write">임시 상품 등록</a>
</div>




