<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <h3>나는 패스워드 변경 폼이야</h3>

  <form role="form"
        th:if="${isAvailable}"
        th:action="@{/auth/changePassword}" method="post">

      <input type="hidden" name="token" th:value="${Token.value()}"/>

      <label th:for="password">변경할 패스워드</label>
      <input
              type="text"
              th:name="password"
              placeholder="변경할 패스워드를 입력하세요"
      />
    <button type="submit">변경</button>
  </form>

  <div th:unless="${isAvailable}">
    <label>사용할 수 없는 토큰 입니다.</label>
  </div>

</div>
</body>
</html>