<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h3>나는 비밀번호 수정 폼이야!</h3>

    <form
            th:role="form"
            th:action="@{/auth/editPassword}"
            th:object="${memberChangePasswordRequest}"
            th:method="POST">


        <div>
            <label th:for="password">기존 비밀번호</label>
            <input
                    type="password"
                    th:name="beforeChangePassword"
                    placeholder="패스워드를 입력하세요"
            />
        </div>

        <div>
            <label th:for="password">신규 비밀번호</label>
            <input
                    type="password"
                    th:name="afterChangePassword"
                    placeholder="패스워드를 입력하세요"
            />
        </div>
        <div>
            <label th:for="password">신규 비밀번호 확인!</label>
            <input
                    type="password"
                    th:name="afterChangeConfirmPassword"
                    placeholder="패스워드를 입력하세요"
            />
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
</body>
</html>